{% extends 'admin_base.html' %}

{% block main %}

<div class="card shadow m-2">
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom : 2px solid orange ">Edit Employee Education Detail</h5>

    <div class="container-fluid">
        <form method="post">
            {% csrf_token %}

        <table class="table table-bordered">
          <tr>
              <th>Post Graduate Programme</th>
              <td><input type="text" name="coursepg" class="form-control " value="{{education.coursepg}}"></td>
          </tr>

          <tr>
              <th>Post Graduate School/College</th>
              <td><input type="text" name="schoolgpg" class="form-control " value="{{education.schoolgpg}}"></td>
          </tr>

          <tr>
              <th>Year of Passing in Post Graduate</th>
              <td><input type="text" name="yearpassingpg" class="form-control " value="{{education.yearpassingpg}}"></td>
          </tr>

          <tr>
              <th>Post Graduate CGPA</th>
              <td><input type="text" name="percentagepg" class="form-control " value="{{education.percentagepg}}"></td>
          </tr>

            <tr>
              <th>Undergraduate Programme</th>
              <td><input type="text" name="coursepggra" class="form-control " value="{{education.coursepggra}}"></td>
          </tr>

          <tr>
              <th>Undergraduate School/College</th>
              <td><input type="text" name="schoolgra" class="form-control " value="{{education.schoolgra}}"></td>
          </tr>

          <tr>
              <th>Undergraduate Year</th>
              <td><input type="text" name="yearpassinggra" class="form-control " value="{{education.yearpassinggra}}"></td>
          </tr>

          <tr>
              <th>Undergraduate CGPA</th>
              <td><input type="text" name="percentagegra" class="form-control " value="{{education.percentagegra}}"></td>
          </tr>

             <tr>
              <th>SHS Course Name</th>
              <td><input type="text" name="coursessc" class="form-control " value="{{education.coursessc}}"></td>
          </tr>

          <tr>
              <th>SHS School/College</th>
              <td><input type="text" name="schoolssc" class="form-control " value="{{education.schoolssc}}"></td>
          </tr>

          <tr>
              <th>WASSCE Year</th>
              <td><input type="text" name="yearpassingssc" class="form-control " value="{{education.yearpassingssc}}"></td>
          </tr>

          <tr>
              <th>WASSCE Grade</th>
              <td><input type="text" name="percentagessc" class="form-control " value="{{education.percentagessc}}"></td>
          </tr>

            <tr>
              <th>JHS Course Name</th>
              <td><input type="text" name="coursehsc" class="form-control " value="{{education.coursehsc}}"></td>
          </tr>

            <tr>
              <th>JHS School/College</th>
              <td><input type="text" name="schoolhsc" class="form-control " value="{{education.schoolhsc}}"></td>
          </tr>

            <tr>
              <th>BECE Year</th>
              <td><input type="text" name="yearpassinghsc" class="form-control " value="{{education.yearpassinghsc}}"></td>
          </tr>

            <tr>
              <th>BECE Grade</th>
              <td><input type="text" name="percentagehsc" class="form-control " value="{{education.percentagehsc}}"></td>
          </tr>

        </table>
             <center><input type="submit" value="Submit" class="btn btn-primary m-2 px-3"></center>
        </form>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('EmployeeEducation Detail has been Updated');
    window.location = ('{% url 'edit_education' education.user.id %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something went wrong, Try Again...');

</script>
{% endif %}

{% endblock %}